/*
Nav
*/

.n-container {
    margin: 0;
    padding: 0;
}

.n-wrapper {

}

.n-topNav {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.n-title {
    padding: 0;
    margin: 0;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.n-search {
    padding-left: 1em;
    width: 100%;
    border-radius: 10px;
    border: solid 2px;
}

.n-button {
    padding: 0;
    margin: 0;
    width: 8em;
    font-size: 1em;
    font-weight: bold;
    border: none;
    background-color: inherit;
}

/*
Product
*/

.p-container {
    margin: 0;
    padding: 0;
}

.p-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}



